@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Hello and Welcome to my humble project which I am planing to to turn it into a book shop</h4>
</div>
